<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/bootstrap.min.css" />
    <link rel="stylesheet" href="/Style/bootstrap.css" />
    <link rel="stylesheet" href="/Style/Style_fix.css" />
    
    <title>Details</title>
</head>