 <nav class="navbar navbar  navbar-light bg-light position-sticky fixed-top">
            <div class="container">
            <a class="navbar-brand" href="#aj"><img src="/Img/insigne.png" alt="" class="" style ="width: 100px;"></a>
            <div class="">
                <a class="btn btn-link" href="/">List de voiture</a>
                
                <a class="btn btn-link" href="/ajouter">Ajouter un voiture</a>
                <a class="btn btn-dark" href="/modifer">Modifer</a>
            </div>
        </div>
    </nav>
