<nav class="navbar navbar  navbar-light  fixed-top" style="background-color: transparent;">
    <div class="container">
    <a class="navbar-brand" href="/"><img src="/Img/insigne.png" alt="" class="" style ="width: 100px;"></a>
</div>
</nav>
